{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-4">
        <div class="mb-lg-0 mb-0">
          <div class="card z-index-5">
            <div class="card-body p-3">
                <h6 class="mb">Choose your flight</h6>
              <div id="radioId">
                <input type="radio" id="DATE" name="test" value="date">
                <label class="form-radio-label" for="date">With Date</label>
                <input type="radio" id="NOTDATE" name="test" value="notDate">
                <label class="form-radio-label" for="notDate">Without Date</label>
              </div>
                <div class="card-body p-1" id="Flight">
                <ul class="list-group">
                  <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                      <input class="form-check-input ms-auto" type="checkbox" id="flightOption" name="flight[]" value="0">
                      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flightOption">from Paris to New York</label>
                    </div>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                      <input class="form-check-input ms-auto" type="checkbox" id="flightOption1" name="flight[]" value="1">
                      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flightOption1">from Paris to Malte</label>
                    </div>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                      <input class="form-check-input ms-auto" type="checkbox" id="flightOption2"name="flight[]" value="2">
                      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flightOption2">from Paris to Marseille</label>
                    </div>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                      <input class="form-check-input ms-auto" type="checkbox" id="flightOption3"name="flight[]" value="3">
                      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flightOption3">from Ibiza to Barcelona</label>
                    </div>
                  </li>
                  <li class="list-group-item border-0 px-0">
                    <div class="form-check form-switch ps-0">
                      <input class="form-check-input ms-auto" type="checkbox" id="flightOption4"name="flight[]" value="4">
                      <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flightOption4">from Bucarest to Palermo</label>
                    </div>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7">
          <div class="col-md-3">
            <div class="card h-100" id="Hours" style="display: none;">
              <div class="card-body p-3">
                  <h6 class="mb">Choose your hours </h6>
                <div class="card-body p-1" id="Flight">
                 <!-- <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Indicate a hours"> -->
                 <input id="appt-time" type="time" name="appt-time" value="13:30">
                </div>
                </div>
              </div>
            </div>
          </div>
    </div>
      
      
     
      
      <div class="row my-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Flights</h6>
                  <!-- <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month
                  </p> -->
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0" id='referenceTab'>
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hours depart</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Hours arrivée</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">retard</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">code number of flight</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name of flight</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date de depart</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">airline</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date d'arrivée</th>
                      <th class="text-center text-uppercase text-secondary text-xxs">durée du vol</th>
                    </tr>
                  </thead>
                  <tbody id="linetab">
                  </tbody>
                </table>
                <template id="templateTableLine">
                  <tr id="" onclick="test(id)">
                    <td id="hours" class="text-center"></td>
                    <td id="hours2" class="text-center"></td>
                    <td id="delay"class="text-center"></td>
                    <td id="code"class="text-center"></td>
                    <td id="name"class="text-center"></td>
                    <td id="date"class="text-center"></td>
                    <td id="airline_iata" class="text-center"></td>
                    <td id="date2"class="text-center"></td>
                    <td id="durée"class="text-center"></td>
                  </tr>
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4"  id="mainDiv"style="display:none;">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6> Flight Information </h6>
              <!-- <p class="text-sm">
                <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">24%</span> this month
              </p> -->
            </div>
            <div class="card-body p-3" id="contentFlight">
              
                <h6 class="mb">  </h6> <p id="numbFlight"></p>
              <div class="card-body p-1" id="">
                <p id="duréeP">Durée : </p>
                <p  id="hoursP">La compagnie :</p>
                  
                  <p id="nameP"></p>
                  <p id="dateP"></p>
                  <p id="priceP"></p>
              </div>
               
              
            </div>
          </div>
        </div>
        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>

    // code airline_iata with name of airline

    

    
    
    let startTime = document.getElementById("appt-time");
    //event click function for option1
    document.getElementById("radioId").onclick = function(){
      var radios = document.getElementsByName("test");
      let check="";
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          check=radios[i].value;
        }
      }
      if(check=="date"){
        Hours.style.display="block";
        //block onchange function Flight 
        Flight.onchange=function(){};
        Flight.onchange = function() {
        var values = [].filter.call(document.getElementsByName('flight[]'), (c) => c.checked).map(c => c.value);
        console.log(startTime.value);
        var ajaxData = new ajax({
          method: 'POST',
          url: '/index',
          data: {
              data: values,
              heure:String(startTime.value).split(":")[0],
              minute:String(startTime.value).split(":")[1]
          },
          response: 'json',
          setRequestHeader: {
              'X-Requested-With': 'XMLHttpRequest',
              'X-Token': 'HAHA'
          },
          success: function (data) {
            // add id on each tr
            
              
              if (data.length === 0)
              {
                Refresh();
              }
              let clone = document.importNode(templateTableLine.content, true);
              // get tr element
              
              let tds = clone.querySelectorAll('td');
              data.forEach(function(TEST){
                TEST.forEach(function(DATAS){
                  // console.log(DATAS);
                var ps = new Date(DATAS.dateETOT.value);
                // add id to each tr
                
                
                
                ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs"; 
                 
                tds[0].innerText = ps;
                var ps = new Date(DATAS.dateSLDT.value);
                ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs"; 
                tds[1].innerText = ps;
                DATAS.delayed.value == 'null' ?  tds[2].delayed.value ='En retard' : tds[2].innerText = DATAS.delayed.value;
                tds[3].innerText = DATAS.flightNumber.value;
                tds[4].innerText = DATAS.flightNumberIATA.value;
              // tds[5].innerText = DATAS.product_dateCreation;
                tds[5].innerText = DATAS.dateDeparture.value;
                console.log(DATAS.airline_iata.value);
                tds[6].innerText = DATAS.airline_icao.value;
                tds[7].innerText = DATAS.dateArrival.value;
                tds[8].innerText = Math.round(DATAS.duration.value/60);
                referenceTab.querySelector('tbody').appendChild(clone.cloneNode(true));
                })
                
              });
          },
          error: function(status, data) {
              console.log(data);
          }
        });
      }



      }
      else{
        Hours.style.display="none";
      }
    }
    //return the value of the checked radio button
    Flight.onchange = function() {
      var values = [].filter.call(document.getElementsByName('flight[]'), (c) => c.checked).map(c => c.value);
      console.log(values);
      //Refresh();
      // send values to the path 
      var ajaxData = new ajax({
      method: 'POST',
      url: '/index',
      data: {
          data: values
      },
      response: 'json',
      setRequestHeader: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-Token': 'HAHA'
      },
      success: function (data) {
          console.log(data);
          if (data.length === 0)
          {
            Refresh();
          }
          let clone = document.importNode(templateTableLine.content, true);
          //add id on each tr
          let tr=clone.querySelectorAll('tr');
          let tds = clone.querySelectorAll('td');
          data.forEach(function(TEST){
            TEST.forEach(function(DATAS){
            // add id to each tr
            console.log(tr);
            tr[0].id=DATAS.id;
            
            var ps = new Date(DATAS.dateETOT.value);
            ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs"; 
            tds[0].innerText = ps;
            var ps = new Date(DATAS.dateSLDT.value);
            ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs"; 
            tds[1].innerText = ps;
            DATAS.delayed.value == 'null' ?  tds[2].delayed.value ='En retard' : tds[2].innerText = DATAS.delayed.value;
            tds[3].innerText = DATAS.flightNumber.value;
            tds[4].innerText = DATAS.flightNumberIATA.value;
           // tds[5].innerText = DATAS.product_dateCreation;
            var ps = new Date(DATAS.dateDeparture.value);
            ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs"; 
            tds[5].innerText = ps;
            console.log(DATAS.airline_icao.value);
            tds[6].innerText = DATAS.airline_icao.value;
            var ps = new Date(DATAS.dateArrival.value);
            ps = ps.toDateString() + " " + ps.getHours() + ":"+ ps.getMinutes() + " hrs";
            tds[7].innerText = ps;
            tds[8].innerText = Math.round(DATAS.duration.value/60);
            referenceTab.querySelector('tbody').appendChild(clone.cloneNode(true));
            })
            
          });
      },
      error: function(status, data) {
          console.log(data);
      }
    });
  }

  const Refresh = () => {
      document.location.reload();
    }
  
    const test =(id) => {
      //if he are some content in contentFlight then remove it
      let hours="";
      let durée ="";
      let date;
      let date2;
      let hours2;
      let delay;
      let name;
      hours=document.getElementById(id).querySelectorAll('#hours')[0].innerHTML;
      durée=document.getElementById(id).querySelectorAll('#durée')[0].innerHTML;
      date=document.getElementById(id).querySelectorAll('#date')[0].innerHTML;
      date2=document.getElementById(id).querySelectorAll('#date2')[0].innerHTML;
      hours2=document.getElementById(id).querySelectorAll('#hours2')[0].innerHTML;
      delay=document.getElementById(id).querySelectorAll('#delay')[0].innerHTML;
      name=document.getElementById(id).querySelectorAll('#name')[0].innerHTML;
      airline_icao=document.getElementById(id).querySelectorAll('#airline_iata')[0].innerHTML;
      //add this value on div contentFlight 
      var ajaxData = new ajax({
        method: 'POST',
        url: '/getAirline',
        data: {
            data: airline_icao
        },
        response: 'json',
        setRequestHeader: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-Token': 'HAHA'
        },
        success: function (data) {
            console.log(data.name.value);
            //document.getElementById('contentFlight').querySelectorAll('#hoursP')[0].innerHTML+=data.name.value;
            mainDiv.style.display="block";
            document.getElementById('contentFlight').querySelectorAll('#hoursP')[0].innerHTML ="La compagnie : <b>"+data.name.value+"</b>";
            document.getElementById('contentFlight').querySelectorAll('#duréeP')[0].innerHTML ="Durée : "+durée +"h";         
            
              
            
        },
      error: function(status, data) {
          console.log(data);
      }
    });
  }
  
  


    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}
